html {
	height: 100%;
	font-size: 16px;
	font-family: arial;
}
body {
	height: 100%;
	margin: 0;
}
#interface {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	& > header, & > footer {
		padding: .5em 1em;
		background-color: #EEE;
		display: flex;
		justify-content: space-between;
	}
	& > header {
		order: -1000;
		h1 {
			margin: 0;
		}
	}
	& > footer {
		order: 1000;
		font-size: smaller;
	}
}

#app {
	padding: 1em;
}

body {
	overflow: hidden;
}
.coeur {
	position: absolute;
	margin-top: -75px;
	margin-left: -118px;
	left: 0;
	top: 0;
}
.disparaitre > img {
	animation-name: disparaitre;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}
.apparaitre > img {
	animation-name: apparaitre;
	animation-duration: .25s;
	animation-timing-function: ease-out;
}
@keyframes apparaitre {
	0% {
		transform: scale(.5);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes disparaitre {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}